---
layout: main
---


    <p>
        {%- for category in site.categories -%}
        <a href="{{category.title | downcase}}.html">{{ category.title }}</a> |&nbsp
        {%- endfor -%}
    </p>
            <!-- This variable is needed for the comparison -->
            {% assign category = page.title|downcase %}
            <!-- Now we can loop through -->
        {% for post in site.posts %}
        {% if post.categories contains {{category}}  %}
            <li><a href="{{post.url}}">{{ post.title }}</a></li>
        {% endif %}
        {% endfor %}


    {%- if site.posts.size > 0 -%}
    <h4 class="post-list-heading">{{ page.list_title }}</h4>
    <ul class="post-list">
        {%- for post in paginator.posts -%}
        <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h5>
                <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                    {{ post.category }}

                </a>
            </h5>
            {%- if site.show_excerpts -%}
            {{ post.excerpt }}
            {%- endif -%}
        </li>
        {%- endfor -%}
    </ul>



