---
---
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>
            {{ page.title }}
            {% if paginator %}
                {% if paginator.page > 1 %}
                    - page {{ paginator.page }}
                {% endif %}
            {% endif %}
        </title>
        <link rel="stylesheet" href="/assets/css/style.css">
        {% if page.description %}
        	<meta name="description" content="{{ page.description }}">
        {% endif %}
        {% if page.meta.robots %}
        	<meta name="robots" content="{{ page.meta.robots }}">
        {% endif %}
        {% if page.canonical %}
            <link rel="canonical" href="{{ page.canonical }}">
        {% endif %}
        {% if page.stylesheets %}
            {% for stylesheet in page.stylesheets %}
                <link rel="stylesheet" href="{{ stylesheet }}"> 
            {% endfor %}
        {% endif %}
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-PQDBDL');</script>
        <!-- End Google Tag Manager -->
        <!-- Google AdSense/ -->
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({
                  google_ad_client: "ca-pub-1182643073398882",
                  enable_page_level_ads: true
             });
        </script>
        <!-- /Google AdSense -->
    </head>
    <body id="top">
        <header id="header" class="clearfix">
            <hgroup>
                <h1><a href="/">英語の時間</a></h1>
            </hgroup>
        </header>
        <div id="pagebody" class="clearfix">
            <section id="main" class="clearfix">
                {{ content }}
            </section>
            <!-- /#main -->
            <div id="sider" class="clearfix">
                <!--
                <div class="sider-inner">
                    {% assign tag_names = "" | split: "|"  %}
                    {% for posts_by_tag in site.tags %}
                      {% assign tag_names = tag_names | push: posts_by_tag.first %}
                    {% endfor %}
                    {% assign tag_names = tag_names | sort %}
                    <section class="sider-group clearfix">
                        <h1 class="sider-title">タグ</h1>
                        <ul id="tags">
                            {% for tag_name in tag_names %}
                                <li><a href="{{ site.baseurl }}/tag/{{ tag_name | slugize }}">
                                    {{ tag_name }}
                                </a></li>
                            {% endfor %}
                        </ul>
                    </section>
                </div>
                -->
            </div>
            <!-- /#sider -->
        </div>
        <!-- /#pagebody -->
        <footer id="footer" class="clearfix">
            <div class="footer-menu fixed-width clearfix">
                <div class="pagetop"><a href="#top">PAGETOP</a></div>
            </div>
        </footer>
        <script src="/assets/vendor/webfontloader/1.6.28/webfontloader.js"></script>
        <script src="/assets/vendor/underscore/1.13.2/underscore-umd-min.js"></script>
        <script src="/assets/vendor/snap.svg/0.4.1/snap.svg-min.js"></script>
        <script src="/assets/vendor/sequence-diagram/2.0.1/sequence-diagram-min.js"></script>
        <script src="/assets/js/bundle.js"></script>
        {% if page.javascripts %}
            {% for javascript in page.javascripts %}
                <script src="{{ javascript }}"></script>
            {% endfor %}
        {% endif %}
    </body>
</html>
