---
layout: main
---

<article class="post post-text clearfix">
    <header class="post-head clearfix">
        <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
        <div class="post-head--subinfo clearfix">
            <span>
                Category:
                {% for category in page.categories %}
                <a href="/category/{{ category | downcase | slugify }}">{{ category }}</a>
                {% endfor %}
            </span> | 
            <!--
            <p class="tags">
                {% for tag in page.tags %}
                <a href="/tag/{{ tag }}">{{ tag }}</a>
                {% endfor %}
            </p>
            -->
            <time datetime="{{ page.date | date: '%Y-%m-%d' }}">Published at: {{ page.date | date: '%Y.%m.%d' }}</time> | 
            <time datetime="{{ page.last_modified_at | date: '%Y-%m-%d' }}">Last modified at: {{ page.last_modified_at | date: '%Y.%m.%d' }}</time>
        </div>
    </header>
    <div class="post-body clearfix">{{ content }}</div>
    <div class="post-social-plugin clearfix">
        <div class="addthis_inline_share_toolbox"></div>
    </div>
    <footer class="post-foot clearfix">
        <div class="clearfix">
            <span>
                Category:
                {% for category in page.categories %}
                <a href="/category/{{ category | downcase | slugify }}">{{ category }}</a>
                {% endfor %}
            </span> | 
            <!--
            <p class="tags">
                {% for category in page.categories %}
                <a href="/category/{{ category | downcase | slugify }}">{{ category }}</a>
                {% endfor %}
            </p>
            -->
            <time datetime="{{ page.date | date: '%Y-%m-%d' }}">Published at: {{ page.date | date: '%Y.%m.%d' }}</time> | 
            <time datetime="{{ page.last_modified_at | date: '%Y-%m-%d' }}">Last modified at: {{ page.last_modified_at | date: '%Y.%m.%d' }}</time>
        </div>
    </footer>
</article>
